
    .container-in {
    width: 90%;
    margin: 10% auto;
    }
    
    .search-container {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    }
    

    #search-input {
    width: 90%;
    padding: 13px;
    border-radius: 4px;
    border: 2px solid #1ca0b8;
    font-size: 15px;
    }
    
    #search-input:focus {
    outline: none;
    }

    img {
        padding-bottom: 20px;
    }
    
    .btn-container1 {
        padding: 13px;
    }

    .btn-style1, .btn-style2 {
        width: 150px;
        padding: 5px;
        margin: 2px 5px;
    }

    #search-results {
    position: absolute;
    z-index: 10;
    margin: 1px auto;
    background: #1ca0b8;
    width: 90%;
    text-align: left;
    border-radius: 4px;
    border: 2px solid #1ca0b8;
    display: none;
    }
    .search-item {
    color: white;
    cursor: pointer;
    }
    .search-item p {
    margin: 0;
    padding: 10px;
    }
    .search-item:hover {
    background: #2cc7e2;
    }
    #search-data {
    margin-top: 10px;
    color: #1ca0b8;
    }
    #search-data p {
    margin: 0;
    padding: 6px;
    font-size: 16px;
    }
